<!-- Wrapper-->
<div id="wrapper">
    <!-- Navigation -->
    <div ng-include="'assets/mvc/desktop/view/navigation.html'"></div>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="white-bg {{$state.current.name}}">
        <!-- Page wrapper -->
        <div ng-include="'assets/mvc/desktop/view/topnavbar.html'"></div>
        <!-- Main view  -->
        <div ui-view></div>
        <!-- Footer -->
        <div ng-include="'assets/mvc/desktop/view/footer.html'"></div>
    </div>
    <!-- End page wrapper-->
</div>
<!-- End wrapper-->