<uib-tabset type="bareheaded" active="activeTab">
    <uib-tab heading="table" index="0">
        <div ng-include="$state.current.data.datatable"/>
    </uib-tab>
    <uib-tab heading="editor" index="1">
        <div ng-if="activeTab == '1'" ng-include="$state.current.data.editor || 'assets/mvc/desktop/view/basic_editor.html'"/>
    </uib-tab>
    <uib-tab heading="table" index="2">
        <div ng-include="$state.current.data.other1"/>
    </uib-tab>
    <uib-tab heading="table" index="3">
        <div ng-include="$state.current.data.other2"/>
    </uib-tab>
    <uib-tab heading="table" index="4">
        <div ng-include="$state.current.data.other3"/>
    </uib-tab>
</uib-tabset>
