<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-lg-10">
        <h1>
            {{$state.current.data.pageTitle}}
            <small>
                <i class="fa fa-angle-double-right"></i>
                {{$state.current.data.subTitle}}
            </small>
        </h1>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <uib-tabset type="bareheaded">
            <uib-tab heading="table" active="showDataTable">
                <div ng-include="$state.current.data.datatable"/>
            </uib-tab>
            <uib-tab heading="editor" active="showEditor">
                <div ng-include="$state.current.data.editor || 'assets/mvc/desktop/view/basic_editor.html'"/>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
