<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <span><img class="logo" ng-src="{{storeInfo.merchant.logo | myeeUrlImg}}"/></span>
                    <span class="clear"></span>
                    <span class="block m-t-xs">{{storeInfo.merchant.name}}</span>
                    <span class="text-muted text-xs block">{{baseUrl.userName}}</span>
                </div>
                <div class="logo-element">MYEE</div>
            </li>
            <li ng-repeat="(index,c) in routerAll.C" ng-class="{active: $state.includes(index)}" ng-if="routerAll.R[index]">
                <a ng-href=""><i class="fa fa-lg {{routerAll.F[index]}}"></i> <span class="nav-label">{{routerAll.R[index].data.pageTitle}}</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-if="c" ng-class="{in: $state.includes(index)}">
                    <li ng-repeat="(indexChild,c) in c" ng-class="{active: $state.includes(index+'.'+indexChild)}">
                        <a ui-sref="{{index+'.'+indexChild}}">{{routerAll.R[index+'.'+indexChild].data.subTitle}}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="sidebar-footer hidden-small">
        <a tooltip-placement="top" uib-tooltip="设置">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a tooltip-placement="top" uib-tooltip="全屏">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a tooltip-placement="top" uib-tooltip="锁屏">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a tooltip-placement="top" uib-tooltip="注销" ng-click="main.logout()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
</nav>