<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ng-class="{active: $state.includes('merchant')}">
                <a href="merchant.shop_list"><i class="fa fa-lg fa-bank"></i> <span class="nav-label">门店管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('merchant')}">
                    <li ng-class="{active: $state.includes('merchant.shop')}"><a ui-sref="merchant.shop">门店列表</a></li>
                    <li ng-class="{active: $state.includes('merchant.merchant')}"><a ui-sref="merchant.merchant">编辑商户</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('selfLogCheck')}">
                <a href=""><i class="fa fa-lg fa-bank"></i> <span class="nav-label">数据中心</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('selfLogCheck')}">
                    <li ng-class="{active: $state.includes('selfLogCheck.logList')}"><a ui-sref="selfLogCheck.logList">自检日志</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('device')}">
                <a href="device"><i class="fa fa-lg fa-camera-retro"></i> <span class="nav-label">设备管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('device')}">
                    <li ui-sref-active="active"><a ui-sref="device.type">设备类型</a></li>
                    <li ui-sref-active="active"><a ui-sref="device.list">设备列表</a></li>
                    <li ui-sref-active="active"><a ui-sref="device.product">设备组列表</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('cater')}">
                <a href="cater"><i class="fa fa-lg fa-cutlery"></i> <span class="nav-label">餐厅设置</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('cater')}">
                    <li ui-sref-active="active"><a ui-sref="cater.type">餐桌类型</a></li>
                    <li ui-sref-active="active"><a ui-sref="cater.zone">餐桌区域</a></li>
                    <li ui-sref-active="active"><a ui-sref="cater.table">餐桌管理</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('explorer')}">
                <a href="explorer"><i class="fa fa-lg fa-share-alt"></i> <span class="nav-label">资源管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('explorer')}">
                    <li ui-sref-active="active"><a ui-sref="explorer.explorer">资源列表</a></li>
                    <li ui-sref-active="active"><a ui-sref="explorer.push">推送日志</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('user')}">
                <a href="user.user_list"><i class="fa fa-lg fa-group"></i> <span class="nav-label">账号管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('user')}">
                    <li ui-sref-active="active"><a ui-sref="user.user">用户管理</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.role">角色管理</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>