<!--<uib-tabset type="bareheaded">-->
<uib-tabset>
    <!--<uib-tab heading="ss" active="showInfoEditor">-->
        <!--&lt;!&ndash;<uib-tab-heading>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-info"></i>产品&ndash;&gt;-->
        <!--&lt;!&ndash;</uib-tab-heading>&ndash;&gt;-->
        <!--<div class="panel-body">-->
            <!--<div class="col-xs-2">-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<formly-form model="formData.model" fields="formData.fields" form="formData.form" options="formData.options">-->
                    <!--<button class="btn btn-primary" ng-click="processSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;提交</button>-->
                    <!--<button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>-->
                <!--</formly-form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</uib-tab>-->
    <!--<uib-tab heading="editor" active="showDetailEditor">-->
        <!--&lt;!&ndash;<uib-tab-heading>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-leaf"></i>产品属性&ndash;&gt;-->
        <!--&lt;!&ndash;</uib-tab-heading>&ndash;&gt;-->
        <!--<div class="panel-body">-->
            <!--<div class="col-xs-2">-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<formly-form model="formDetailData.model" fields="formDetailData.detailFields" form="formDetailData.form" options="formDetailData.options">-->
                    <!--<button class="btn btn-primary" ng-click="processDetailSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;提交</button>-->
                    <!--<button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>-->
                <!--</formly-form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</uib-tab>-->
    <uib-tab active="showInfoEditor">
        <uib-tab-heading>
            <i class="fa fa-info"></i>基本
        </uib-tab-heading>
        <div class="panel-body">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <formly-form model="formData.model" fields="formData.fields" form="formData.form" options="formData.options">
                    <button class="btn btn-primary" ng-click="processSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;提交</button>
                    <button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>
                </formly-form>
            </div>
        </div>
    </uib-tab>
    <uib-tab active="showDetailEditor">
        <uib-tab-heading>
            <i class="fa fa-th-list"></i>特性
        </uib-tab-heading>
        <div class="panel-body">
            <table id="details" width="45%" class="table table-bordered">
                <thead>
                <tr>
                    <th width="35%" class="center">键</th>
                    <th width="45%" class="center">值</th>
                    <th class="center"><a ng-click="insertAttr(formData.model)"><i class="btn-icon fa fa-plus"></i></a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="attr in formData.model.attributes" ng-switch="attr.editing">
                    <td>
                        <span ng-switch-default>{{::attr.name}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="attrName" ng-model="attr.name" class="editable-input form-control input-sm" required/>
                        </div>
                    <td>
                        <span ng-switch-default>{{::attr.value}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="attrValue" ng-model="attr.value" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td class="center">
                        <a ng-switch-default ng-click="attr.editing=true"><i class="btn-icon fa fa-pencil"></i></a>
                        <a ng-switch-when="true" ng-click="updateAttr(formData.model, attr)"><i class="btn-icon fa fa-check"></i></a>
                        <span class="divider"></span>
                        <a ng-switch-default ng-click="deleteAttr(formData.model, attr)"><i class="btn-icon fa fa-trash-o"></i></a>
                        <a ng-switch-when="true" ng-click="attr.editing=false"><i class="btn-icon fa fa-close"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab heading="bindEditor" active="showBindEditor">
        <!--<uib-tab-heading>-->
        <!--<i class="fa fa-leaf"></i>产品属性-->
        <!--</uib-tab-heading>-->
        <div class="panel-body" >
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <formly-form model="formBindData.model" fields="formBindData.bindFields" form="formBindData.form" options="formBindData.options">
                    <div class="row">
                        <div style="font-weight: bold;">{{formBindData.model.bindShowName}}</div>
                        <div class="col-xs-12" ng-model="showCase">
                            <div class="ibox float-e-margins">
                                <p class="text-danger">请选择要关联的设备:</p>
                                <!--<table id="bindProduct" datatable="" dt-options="showCase.dtBindOptions" dt-instance="showCase.dtBindInstance" dt-columns="showCase.dtBindColumns" class="table table-striped table-bordered table-hover"></table>-->
                                <table id="example" ng-table="tableOpts" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="5%" class="center"></th>
                                        <th width="15%" class="center">名称</th>
                                        <th width="15%" class="center">心跳</th>
                                        <th width="15%" class="center">主板编号</th>
                                        <th width="15%" class="center">设备号</th>
                                        <th width="15%" class="center">描述</th>
                                        <th width="10%" class="center">类型</th>
                                        <th width="5%" class="center">关联产品</th>
                                        <th class="center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="9" class="center" ng-if="$data.length<=0">没有查找到数据</td>
                                    </tr>
                                    <tr ng-repeat-start="row in $data">
                                        <td class="center"><a ng-click="row.showDetail=!row.showDetail"><i class="btn-icon fa fa-bars"></i></a></td>
                                        <td>{{::row.name}}</td>
                                        <td>{{::row.heartbeat}}</td>
                                        <td>{{::row.boardNo}}</td>
                                        <td>{{::row.deviceNum}}</td>
                                        <td>{{::row.description}}</td>
                                        <td>{{::row.device.name}}</td>
                                        <td>
                                            <a ng-click="goDeviceBindProductEditor($index)"><i class="btn-icon fa fa-pencil"></i></a>
                                        </td>
                                        <td class="center">
                                            <a ng-click="goEditorCustom($index)"><i class="btn-icon fa fa-pencil"></i></a>
                                            <span class="divider"></span>
                                            <a ng-click="doDelete($index)"><i class="btn-icon fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="row.showDetail">
                                        <td colspan="4">
                                            <table id="details" width="45%" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th width="35%" class="center">键</th>
                                                    <th width="45%" class="center">值</th>
                                                    <th class="center"><a ng-click="insertAttr(row)"><i class="btn-icon fa fa-plus"></i></a></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="attr in row.attributes" ng-switch="attr.editing">
                                                    <td>
                                                        <span ng-switch-default>{{::attr.name}}</span>
                                                        <div class="controls" ng-switch-when="true">
                                                            <input type="text" name="attrName" ng-model="attr.name" class="editable-input form-control input-sm" required/>
                                                        </div>
                                                    <td>
                                                        <span ng-switch-default>{{::attr.value}}</span>
                                                        <div class="controls" ng-switch-when="true">
                                                            <input type="text" name="attrValue" ng-model="attr.value" class="editable-input form-control input-sm" required/>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <a ng-switch-default ng-click="attr.editing=true"><i class="btn-icon fa fa-pencil"></i></a>
                                                        <a ng-switch-when="true" ng-click="updateAttr(row, attr)"><i class="btn-icon fa fa-check"></i></a>
                                                        <span class="divider"></span>
                                                        <a ng-switch-default ng-click="deleteAttr(row, attr)"><i class="btn-icon fa fa-trash-o"></i></a>
                                                        <a ng-switch-when="true" ng-click="attr.editing=false"><i class="btn-icon fa fa-close"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="processBindSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;提交</button>
                    <button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>
                </formly-form>
            </div>
        </div>

    </uib-tab>
</uib-tabset>