<uib-tabset>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-info"></i>基本
        </uib-tab-heading>
        <div class="panel-body">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <form name="formData.form" novalidate>
                    <formly-form model="formData.model" fields="formData.fields" form="formData.form" options="formData.options">
                        <div class="text-center col-xs-8">
                            <button ng-disabled="disableSubmit" class="btn btn-primary" ng-click="processSubmit()"><i class="fa fa-sm {{disableSubmit?'fa-spinner icon-spin':'fa-check'}}"></i>&nbsp;提交</button>
                            <button ng-if="!disableSubmit" class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>
                        </div>
                    </formly-form>
                </form>
            </div>
        </div>
    </uib-tab>
    <uib-tab ng-show="formData.model.id">
        <uib-tab-heading>
            <i class="fa fa-th-list"></i>特性
        </uib-tab-heading>
        <div class="panel-body">
            <table id="details" width="45%" class="table table-bordered">
                <thead>
                <tr>
                    <th width="35%" class="center">属性名</th>
                    <th width="45%" class="center">属性值</th>
                    <th class="center"><a ng-click="insertAttr(formData.model)" tooltip-placement="top" uib-tooltip="{{lang_zh.add}}"><i class="btn-icon fa fa-plus"></i></a></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="9" class="center" ng-if="formData.model.attributes.length<=0">没有查找到数据</td>
                </tr>
                <tr ng-repeat="attr in formData.model.attributes" ng-switch="attr.editing">
                    <td>
                        <span ng-switch-default>{{::attr.name}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="attrName" ng-model="attr.name" placeholder="255字以内" class="editable-input form-control input-sm" required/>
                        </div>
                    <td>
                        <span ng-switch-default>{{::attr.value}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="attrValue" ng-model="attr.value" placeholder="255字以内" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td class="center">
                        <a ng-switch-default ng-click="attr.editing=true" tooltip-placement="top" uib-tooltip="{{lang_zh.edit}}"><i class="btn-icon fa fa-pencil"></i></a>
                        <a ng-switch-when="true" ng-click="updateAttr(formData.model, attr)" tooltip-placement="top" uib-tooltip="{{lang_zh.update}}"><i class="btn-icon fa fa-check"></i></a>
                        <span class="divider"></span>
                        <a ng-switch-default ng-click="deleteAttr(formData.model, attr)" tooltip-placement="top" uib-tooltip="{{lang_zh.delete}}"><i class="btn-icon fa fa-trash-o"></i></a>
                        <a ng-switch-when="true" ng-click="cancelAttr(formData.model,attr)" tooltip-placement="top" uib-tooltip="{{lang_zh.cancel}}"><i class="btn-icon fa fa-close"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>