<div class="row metrics">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Summary</h5></div>
            <div class="ibox-content">
                <ul class="metricInfoList">
                    <li><span class="l">机器名称：</span><span class="r">{{summary.deviceUsed.name}}</span></li>
                    <li><span class="l">主板编号：</span><span class="r">{{summary.deviceUsed.boardNo}}</span></li>
                    <li><span class="l">所属餐厅：</span><span class="r">{{summary.deviceUsed.merchantName}}</span></li>
                    <li ng-repeat="v in summary.metricInfoList" data-id="{{v.key}}"><span class="l">{{v.name}}：</span><span class="r">{{v.value}}</span><span>{{v.unit}}</span></li>
                </ul>
                <ul class="metricInfoList">
                    <li ng-repeat="v in summary.appInfoList[0].services"><span class="l">{{v.versionName}}：</span><span class="r">{{v.versionCode}}</span></li>
                    <li ng-repeat="v in summary.appInfoList[0].apps"><span class="l">{{v.versionName}}：</span><span class="r">{{v.versionCode}}</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Metrics</h5></div>
            <div class="ibox-content">
                <div class="col-sm-3" ng-repeat="v in metric.metricInfoList" data-id="{{v.key}}">
                    <div class="mmain">
                        <div class="mcontent">
                            <metrics height="170" options="v"></metrics>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>