<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">账号管理</a>
                </li>
                <li class="active">用户管理</li>
            </ul>
            <!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input"
                               id="nav-search-input"
                               autocomplete="off"/>
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div>
            <!-- /.nav-search -->
        </div>

        <div class="page-content" ng-controller="userCtrl">
            <div class="page-header">
                <h1>
                    用户管理
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                       内部用户列表
                    </small>
                </h1>
            </div>
            <!-- /.page-header -->
            <div class="alert alert-info">
                <div class="form-inline">
                    <div class="form-group m-l">
                        <input placeholder="用户名" class="form-control" style="width:200px;" />
                    </div>
                    <button class="btn btn-sm btn-danger m-l" type="button" ng-click="loadrecord()"><i
                            class="fa fa-search"></i><span class="bold">搜索</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table ng-jqgrid id="grid" pager="#grid_pager" config="config" api="api"></table>
                    <div id="grid_pager"></div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
</div><!-- /.main-content -->