<a ui-sref="{{item.state}}" ng-click="expand(item, $event);" ng-class="{true:'dropdown-toggle', false:''} [!isLeaf(item)]">
    <i ng-if="!isLeaf(item)" class="menu-icon fa {{itemIcon(item)}}"></i>
    <span class='menu-text' ng-click="warpCallback('itemClicked', item, $event);">{{item.name}}</span>
    <b ng-if="!isLeaf(item)" class="arrow fa fa-angle-down"></b>
</a>
<b class="arrow"></b>
<ul class="submenu" ng-if="!isLeaf(item)" ng-style="{display:item.$$isExpand ? 'block' : 'none'}">
    <li ui-sref-active="active" ng-repeat="item in item.children" ng-include="'assets/views/component/menu_item.html'">
    </li>
</ul>