<a class="btn btn-sm btn-danger" ng-click="goEditor()"><i class="ace-icon fa fa-plus bigger-120"></i>新增商户</a>
<div class="alert alert-info">
    <div class="form-inline">
        <div class="form-group">
            <input placeholder="商户名" ng-model="where.name" type="text" class="form-control" style="width:200px;"/>
        </div>
        <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i
                class="fa fa-search"></i><span class="bold">搜索</span></button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <table id="example" datatable="" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
                   class="table table-striped table-bordered table-hover">
            </table>
        </div>
    </div>
</div>
