<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ng-class="{active: $state.includes('merchant')}">
                <a href="merchant.shop_list"><i class="fa fa-lg fa-bank"></i> <span class="nav-label">门店管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('merchant')}">
                    <li ui-sref-active="active"><a ui-sref="merchant.shop_list">门店列表</a></li>
                    <li ui-sref-active="active"><a ui-sref="merchant.merchant">编辑商户</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('equipment')}">
                <a href="equipment.type"><i class="fa fa-lg fa-camera-retro"></i> <span class="nav-label">设备管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('equipment')}">
                    <li ui-sref-active="active"><a ui-sref="equipment.type">设备类型</a></li>
                    <li ui-sref-active="active"><a ui-sref="equipment.list">设备列表</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('explorer')}">
                <a href="explorer"><i class="fa fa-lg fa-share-alt"></i> <span class="nav-label">资源管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('explorer')}">
                    <li ui-sref-active="active"><a ui-sref="explorer.explorer">资源列表</a></li>
                    <li ui-sref-active="active"><a ui-sref="explorer.push">推送日志</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('user')}">
                <a href="user.user_list"><i class="fa fa-lg fa-group"></i> <span class="nav-label">账号管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('equipment')}">
                    <li ui-sref-active="active"><a ui-sref="user.user_list">用户管理</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.role_list">角色管理</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>