<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="搜索..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">欢迎来到木爷终端管理系统</span>
            </li>
            <li>
                <select class="m-r-sm text-muted welcome-message" onchange="switchMerchant()" id="merchantSelect">
                    <option>切换商户</option>
                </select>
                <script type="text/javascript">
                    //先临时用一下
                    var newarr = {};
                    $(function(){
                        $.get('/admin/merchant/list', { })
                                .done(function (data) {
                                    var merchantSelect = document.getElementById("merchantSelect");
                                    console.log(data);
                                    newarr = data.rows;
                                    console.log(newarr);
                                    for(var i=0; i<newarr.length; i++){
                                        merchantSelect.options.add(new Option(newarr[i].name,newarr[i].id))
                                    };
                                })
                                .fail(function () {
                                });
                    });

                    function switchMerchant(){
                        var indexSelect = document.getElementById("merchantSelect").selectedIndex-1;//-1是为了去掉第一条
                        alert(indexSelect+";"+newarr[indexSelect].id);
                        $.post('/admin/merchant/switch', { 'id':newarr[indexSelect].id})
                                .done(function (data) {
                                })
                                .fail(function () {
                                });
                    };
                </script>
            </li>
            <li>
                <a href="/admin/j_spring_security_logout">
                    <i class="fa fa-sign-out"></i>退出
                </a>
            </li>
        </ul>
    </nav>
</div>