<div class="alert alert-info">
    <div class="form-inline">
        <div class="form-group">
            <p class="input-group">
                <input placeholder="开始日期" type="text" class="form-control" style="width:200px;margin-top:10px;" uib-datepicker-popup ng-model="where.beginDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()" style="margin-top:10px;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            &nbsp;-&nbsp;
            <p class="input-group">
                <input placeholder="结束日期" type="text" class="form-control" style="width:200px;margin-top:10px;" uib-datepicker-popup ng-model="where.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()" style="margin-top:10px;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <select class="form-control" style="width:100px;" ng-model="where.voiceLogType">
            <option value="">类型</option>
            <option value="1">聊天</option>
            <option value="2">脱口秀</option>
        </select>
        <div class="form-group">
            <input placeholder="关键字" ng-model="where.keyword" type="text" class="form-control" style="width:200px;"/>
        </div>
        <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i
                class="fa fa-search"></i><span class="bold">搜索</span></button>
        <button class="btn btn-sm btn-danger m-l" type="button" ng-click="download(where.startDate,where.endDate,where.voiceLogType,where.keyword)"><i
                class="fa fa-download"></i><span class="bold">下载</span></button>
    </div>
</div>
<div class="space-6"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <table id="example" ng-table="tableOpts" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="5%" class="center">序号</th>
                    <th width="15%" class="center">日期-时间</th>
                    <th width="20%" class="center">提问</th>
                    <th width="20%" class="center">回答</th>
                    <th width="15%" class="center">种类</th>
                    <th width="15%" class="center">店铺</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="8" class="center" ng-if="$data.length<=0">没有查找到数据</td>
                </tr>
                <tr ng-repeat="row in $data">
                    <td>{{::row.num+1}}</td>
                    <td>{{::row.time}}</td>
                    <td>{{::row.cookyListen}}</td>
                    <td>{{::row.cookySpeak}}</td>
                    <td>{{::row.type}}</td>
                    <td>{{::row.storeName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>