<a class="btn btn-sm btn-danger" ng-click="goEditor()"><i class="ace-icon fa fa-plus bigger-120"></i>新增用户</a>
<i class="ace-icon fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{tips}}"></i>
<div class="space-6"></div>
<div class="alert alert-info">
    <ul class="form-inline" ng-keyup="search($event)">
        <li ng-if="!sHigh">
            <div class="form-group"><input placeholder="昵称/登录名" ng-model="where.queryName" type="text" class="form-control" style="width:200px;"/></div>
        </li>
        <li class="searchHigh" ng-if="sHigh">
            <div class="form-group searchHigh" ng-repeat="f in mgrData.fields" ng-if="f.templateOptions.isSearch">
                <input ng-if="f.type == 'c_input' || f.type == 'c_textarea'" ng-model="where.queryObj[f.key]" type="text" class="form-control" placeholder="{{f.templateOptions.label}}"/>
                <select ng-if="f.type == 'c_select'" ng-model="where.queryObj[f.key]" ng-init="where.queryObj[f.key]=''" class="form-control m-l-sm">
                    <option value="" selected="selected">选择{{f.templateOptions.label}}</option>
                    <option ng-repeat="o in f.templateOptions.options" value="{{o.value}}">{{o.name}}</option>
                </select>
            </div>
        </li>
        <li>
            <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i class="fa fa-search"></i><span class="bold">搜索</span></button>
            <span ng-click="sHighBut()">{{sHigh?'简化搜索':'高级搜索'}}</span>
        </li>
    </ul>
</div>
<div class="space-6"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <div class="fixed-table-container" ng-table="tableOpts">
                <div class="fixed-table-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="10%" class="center">昵称</th>
                            <th width="12%" class="center">登录名</th>
                            <th width="10%" class="center">最后登录时间</th>
                            <th width="10%" class="center">最后登录IP</th>
                            <th width="10%" class="center">电话号码</th>
                            <th width="12%" class="center">所属门店</th>
                            <th class="center">电子邮件</th>
                            <th width="100" class="center">状态</th>
                            <th width="120" class="center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="9" class="center" ng-if="$data.length<=0">没有查找到数据</td>
                        </tr>
                        <tr ng-repeat="row in $data">
                            <td>{{::row.name}}</td>
                            <td>{{::row.login}}</td>
                            <td>{{::row.lastLogin}}</td>
                            <td>{{::row.loginIP}}</td>
                            <td>{{::row.phoneNumber}}</td>
                            <td>{{::row.storeName}}</td>
                            <td>{{::row.email}}</td>
                            <td class="center"><span ng-class="{true: 'label label-primary', false: 'label label-danger'}[row.activeStatusFlag]">{{row.activeStatusFlag?'激活':'冻结'}}</span></td>
                            <td class="center">
                                <a ng-click="goEditor($index)" tooltip-placement="top" uib-tooltip="{{lang_zh.edit}}"><i class="btn-icon fa fa-pencil"></i></a>
                                <span class="divider"></span>
                                <a ng-if="row.login != userName" ng-click="doDelete($index)" tooltip-placement="top" uib-tooltip="{{lang_zh.delete}}"><i class="btn-icon fa fa-trash-o"></i></a>
                                <a ng-if="row.login == userName" tooltip-placement="top" uib-tooltip="{{lang_zh.noDeleteThisUser}}"><i class="btn-icon fa fa-ban"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>