<a class="btn btn-sm btn-danger" ng-click="goEditor()"><i class="ace-icon fa fa-plus bigger-120"></i>新增用户</a>
<i class="ace-icon fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{tips}}"></i>
<div class="space-6"></div>
<div class="alert alert-info">
    <div class="form-inline">
        <div class="form-group">
            <input placeholder="用户名" ng-model="where.username" type="text" class="form-control" style="width:200px;"/>
        </div>
        <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i
                class="fa fa-search"></i><span class="bold">搜索</span></button>
    </div>
</div>
<div class="space-6"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <table id="example" ng-table="tableOpts" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="10%" class="center">昵称</th>
                    <th width="12%" class="center">登录名</th>
                    <th width="10%" class="center">最后登录时间</th>
                    <th width="10%" class="center">最后登录IP</th>
                    <th width="10%" class="center">电话号码</th>
                    <th width="12%" class="center">所属门店</th>
                    <th class="center">电子邮件</th>
                    <th width="100" class="center">状态</th>
                    <th width="120" class="center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="9" class="center" ng-if="$data.length<=0">没有查找到数据</td>
                </tr>
                <tr ng-repeat="row in $data">
                    <td>{{::row.name}}</td>
                    <td>{{::row.login}}</td>
                    <td>{{::row.lastLogin}}</td>
                    <td>{{::row.loginIP}}</td>
                    <td>{{::row.phoneNumber}}</td>
                    <td>{{::row.storeName}}</td>
                    <td>{{::row.email}}</td>
                    <td class="center"><span ng-class="{true: 'label label-primary', false: 'label label-danger'}[row.activeStatusFlag]">{{row.activeStatusFlag?'激活':'冻结'}}</span></td>
                    <td class="center">
                        <a ng-click="goEditor($index)" tooltip-placement="top" uib-tooltip="{{lang_zh.edit}}"><i class="btn-icon fa fa-pencil"></i></a>
                        <span class="divider"></span>
                        <a ng-click="doDelete($index)" tooltip-placement="top" uib-tooltip="{{lang_zh.delete}}"><i class="btn-icon fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>