<a class="btn btn-sm btn-danger" ng-click="goSend()"><i class="fa fa-send bigger-120"></i>&nbsp;资源推送</a>
<div class="space-6"></div>
<div class="row">
    <div class="col-xs-12">
        <script type="text/ng-template" id="nodes_renderer.html">

        </script>
        <div class="ibox float-e-margins">
            <tree-grid
                    tree-control="treeControl"
                    tree-data="treeData"
                    col_defs="treeColumns"
                    on-select="handleSelect(branch)"
                    expand-on="expandField"
                    icon-leaf="tree-icon fa fa-file-text-o"
                    icon-expand="tree-icon fa fa-folder-o"
                    icon-collapse="tree-icon fa fa-folder-open-o">
            </tree-grid>
        </div>
    </div>
</div>