<div>
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <i class="fa fa-info"></i>升级配置
            </uib-tab-heading>
            <div class="panel-body formly">

                <form name="formData.form" class="formly-field" novalidate>
                    <formly-form model="formDataUpdateConfig.model" fields="formDataUpdateConfig.fields" form="formDataUpdateConfig.form" options="formDataUpdateConfig.options">
                        <label class="col-sm-2 control-label ">
                            配置详细
                        </label>
                        <div class="panel-body col-sm-8">
                            <div ng-if="formDataUpdateConfig.model.code">
                                <div class="btn btn-sm btn-success upMenuBut">
                                    <i class="fa fa-upload bigger-120"></i><span>导入配置</span>
                                    <input type="file" onchange="angular.element(this).scope().readFile(this)"/>
                                </div>
                                <a class="btn btn-sm btn-danger m-l" ng-href="{{downloadConfig('apk')}}" download><i
                                        class="fa fa-download"></i><span class="bold">应用配置</span></a>
                                <a class="btn btn-sm btn-danger m-l" ng-href="{{downloadConfig('module')}}" download><i
                                        class="fa fa-download"></i><span class="bold">模块配置</span></a>
                                <br>
                                <br>
                            </div>

                            <table id="details" width="45%" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="15%" class="center">名称</th>
                                    <th width="10%" class="center">版本号</th>
                                    <th width="12%" class="center">描述</th>
                                    <th width="80px" class="center">强制升级</th>
                                    <th width="10%" class="center">类型</th>
                                    <th width="145px" class="center">md5</th>
                                    <th class="center">下载地址</th>
                                    <th width="80px" class="center">上传升级包</th>
                                    <th width="80px" class="center"><a ng-click="insertAttr(formDataUpdateConfig.model)" tooltip-placement="top" uib-tooltip="{{lang_zh.add}}"><i class="btn-icon fa fa-plus"></i></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="9" class="center" ng-if="formDataUpdateConfig.model.attributes.length<=0">没有查找到数据</td>
                                </tr>
                                <tr ng-repeat="attr in formDataUpdateConfig.model.attributes" ng-switch="attr.editing" ng-if="attr.show">
                                    <td>
                                        <span ng-switch-default>{{::attr.name}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <input type="text" name="attrName" ng-model="attr.name" value="{{attr.name}}" placeholder="名称" class="editable-input form-control input-sm" required/>
                                        </div>
                                    </td>
                                    <td>
                                        <span ng-switch-default>{{::attr.version}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <input ng-if="attr.type == 'module'" type="text" name="attrVersion" ng-model="attr.version" placeholder="版本号" class="editable-input form-control input-sm" required/>
                                            <input ng-if="attr.type != 'module'"type="number" name="attrVersion" ng-model="attr.version" placeholder="纯数字" class="editable-input form-control input-sm" required/>
                                        </div>
                                    </td>
                                    <td>
                                        <span ng-switch-default>{{::attr.description}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <textarea type="text" name="attrDescription" ng-model="attr.description" placeholder="描述" class="editable-input form-control input-sm" required/>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <span ng-switch-default>{{::attr.force_update}}</span>
                                        <div ng-if="attr.type != 'agent' && attr.type != 'agentPatch'" class="controls" ng-switch-when="true">
                                            <select ng-model="attr.force_update">
                                                <option value="Y">Y</option>
                                                <option value="N">N</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <span ng-switch-default>{{::attr.type}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <select ng-model="attr.type">
                                                <option value="module">模块</option>
                                                <option value="apk">应用</option>
                                                <option ng-if="mgrUpdateConfigData.constant.SWITCH_MERCHANT_STORE == 100" value="agent">Agent</option>
                                                <option ng-if="mgrUpdateConfigData.constant.SWITCH_MERCHANT_STORE == 100" value="agentPatch">AgentPatch</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <copy-to-clip ng-model="attr.md5" content="attr.md5" style="float: left"></copy-to-clip>
                                        <div ng-switch-default>
                                            <br>
                                            <i class="btn btn-sm btn-success" ng-click="showMd5Input(attr)">校验</i>
                                            <br>
                                            <input style="float: left;" ng-if="attr.md5InputValid" ng-model="attr.md5InputContent" type="text" class="editable-input form-control input-sm inputMd5"/>
                                            <span style="float: right;">
                                                <i class="fa fa-times-circle checkMd5MarkWrong" aria-hidden="true" ng-show="attr.md5InputValid && attr.md5InputContent != null && attr.md5InputContent.length != 0 && attr.md5InputContent!=attr.md5"></i>
                                                <i class="fa fa-check-circle checkMd5MarkRight" aria-hidden="true" ng-show="attr.md5InputValid && attr.md5InputContent != null && attr.md5InputContent.length != 0 && attr.md5InputContent==attr.md5"></i>
                                            </span>
                                        </div>
                                        <div class="controls cropLongString" ng-switch-when="true">
                                            <span>
                                                {{attr.md5?"":"自动生成" }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <copy-to-clip content="attr.web"></copy-to-clip>
                                        <div class="controls cropLongString" ng-switch-when="true">
                                            <span>
                                                {{attr.web?"":"自动生成"}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <span ng-switch-default>
                                            <i ng-if="attr.uploadState" class="btn-icon fa fa-check" tooltip-placement="top" uib-tooltip="本次已上传升级包"></i>
                                            <i ng-if="!attr.uploadState" class="btn-icon fa fa-times-circle" tooltip-placement="top" uib-tooltip="本次未上传升级包，若下载地址对应的升级包已存在，则不用重复上传"></i>
                                        </span>
                                        <div class="controls" ng-switch-when="true">
                                            <span class="btn btn-sm btn-success upMenuBut">
                                                <i class="fa fa-upload bigger-120"></i><span>请选择</span>
                                                <input ng-model="attr.file" type="file" data-attr="{{attr}}" data-index="{{$index}}" onchange="angular.element(this).scope().checkUpdate(this, JSON.parse(this.getAttribute('data-attr')),this.getAttribute('data-index'))"/>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <a ng-switch-default ng-click="attr.editing=true" tooltip-placement="top" uib-tooltip="{{lang_zh.edit}}"><i class="btn-icon fa fa-pencil"></i></a>
                                        <a ng-switch-when="true" ng-click="updateAttr(formDataUpdateConfig.model, attr,$index)" tooltip-placement="top" uib-tooltip="{{lang_zh.update}}"><i class="btn-icon fa fa-check"></i></a>
                                        <span class="divider"></span>
                                        <a ng-switch-default ng-click="deleteAttr(formDataUpdateConfig.model, attr)" tooltip-placement="top" uib-tooltip="{{lang_zh.delete}}"><i class="btn-icon fa fa-trash-o"></i></a>
                                        <a ng-switch-when="true" ng-click="cancelAttr(formDataUpdateConfig.model,attr)" tooltip-placement="top" uib-tooltip="{{lang_zh.cancel}}"><i class="btn-icon fa fa-close"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center col-xs-8">
                            <button class="btn btn-primary" ng-click="configSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;确定</button>
                            <button class="btn m-l" ng-click="configGoDataTable()"><i class="fa fa-undo"></i>返回</button>
                        </div>
                    </formly-form>
                </form>
            </div>
        </uib-tab>
    </uib-tabset>
</div>