<div ng-show="showInfoPush">
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <i class="fa fa-info"></i>推送
            </uib-tab-heading>
            <div class="panel-body">
                <formly-form model="formData.model" fields="formData.fields" form="formData.form" options="formData.options">
                    <div class="text-center col-xs-8">
                        <button class="btn btn-primary" ng-click="pushSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;推送</button>
                        <button class="btn m-l" ng-click="goPushDataTable()"><i class="fa fa-undo"></i>返回</button>
                    </div>
                </formly-form>
            </div>
        </uib-tab>
    </uib-tabset>
</div>