<a class="btn btn-sm btn-danger" ng-click="goSend()"><i class="ace-icon fa fa-plus bigger-120"></i>推送</a>
<div class="space-6"></div>
<div class="alert alert-info">
    <div class="form-inline">
        <div class="form-group">
            <input placeholder="类型名" ng-model="where.queryName" type="text" class="form-control" style="width:200px;"/>
        </div>
        <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i
                class="fa fa-search"></i><span class="bold">搜索</span></button>
    </div>
</div>
<div class="space-6"></div>
<div class="row">
    <div class="col-xs-12">
        <script type="text/ng-template" id="nodes_renderer.html">

        </script>
        <div class="ibox float-e-margins">
            <tree-grid
                    tree-data="treeData"
                    col_defs="treeColumns"
                    on-select="handleSelect(branch)"
                    expand-on="expandField"
                    icon-leaf="tree-icon fa fa-file-text-o"
                    icon-expand="tree-icon fa fa-folder-o"
                    icon-collapse="tree-icon fa fa-folder-open-o">
            </tree-grid>
        </div>
    </div>
</div>