<script type="text/ng-template" id="addFolder.html">
    <div class="inmodal filieConfirm">
        <div class="modal-header">
            <h4 class="modal-title">新建文件夹</h4>
        </div>
        <div class="modal-body">
            <div class="form-group"><label>请输入新建的文件夹名</label> <input type="text" placeholder="" ng-model="fileName" class="form-control"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
        </div>
    </div>
</script>
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content" ng-controller="explorerCtrl">
            <div class="row filies">
                <div class="col-xs-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="file-manager">
                                <div class="file-but">
                                    <a href="" class="btn btn-white" ng-click="vm.addFolder()"><i class="fa fa-plus"></i> 添加文件夹 </a>
                                    <a href="" class="btn btn-white" ng-click="vm.rename()"><i class="fa fa-circle-o-notch"></i> 重命名 </a>
                                    <a href="" class="btn btn-danger" ng-click="vm.delete()"><i class="fa fa-trash-o"></i> 删除 </a>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <h5>资源库</h5>
                                <div js-tree="vm.treeConfig" ng-model="treeData" tree="treeInstance"></div>
                                <div id="folderTree"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{vm.filePath}}</h5>
                            <div class="ibox-tools dropdown">
                                <span  class="btn btn-sm btn-primary fileInput">
                                    <input type="file" value="上传资源" onchange="angular.element(this).scope().vm.addFile(this)" ng-model="vm.fileRes"  />
                                    <i class="fa fa-folder-o"></i> 添加文件
                                </span>
                                <span class="btn btn-sm btn-white"><i class="fa fa-paper-plane"></i> 推送 </span>
                            </div>
                        </div>
                        <div class="ibox-content" ng-show="vm.filies.length>0">
                            <div class="file-box" ng-repeat="f in vm.filies" ng-click="vm.choiceFile($index)">
                                <div class="file">
                                    <a href="">
                                        <i class="fa fa-check" ng-show="f.check"></i>
                                        <div class="image"><img alt="image" class="img-responsive" ng-src="http://www.023up.com/d/file/news/20160623/p5tl3ip1vcy241.jpg" /></div>
                                        <div class="file-name">{{f.text}}<br><small>{{f.lastModify | dateFormatter}}</small></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>