<div>
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <i class="fa fa-info"></i>创建/编辑
            </uib-tab-heading>
            <div class="panel-body">
                <form name="formData.form" novalidate>
                    <formly-form model="formDataEditor.model" fields="formDataEditor.fields" form="formDataEditor.form" options="formDataEditor.options">
                        <div class="text-center col-xs-8">
                            <button class="btn btn-primary" ng-click="editorSubmit()"><i class="fa fa-sm fa-check"></i>&nbsp;确定</button>
                            <button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>
                        </div>
                    </formly-form>
                </form>
            </div>
        </uib-tab>
    </uib-tabset>
</div>