<uib-tabset>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-info"></i>基本
        </uib-tab-heading>
        <div class="panel-body">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <formly-form model="formData.model" fields="formData.fields" form="form" options="formData.options">
                    <button class="btn btn-primary"><i class="fa fa-sm fa-check"></i>&nbsp;提交</button>
                    <button class="btn m-l" ng-click="goDataTable()"><i class="fa fa-undo"></i>返回</button>
                </formly-form>
            </div>
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-user"></i>角色
        </uib-tab-heading>
        <div class="panel-body">
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-key"></i>权限
        </uib-tab-heading>
        <div class="panel-body">
        </div>
    </uib-tab>
</uib-tabset>