<uib-tabset>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-info"></i>基本
        </uib-tab-heading>
        <div class="panel-body">
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-user"></i>角色
        </uib-tab-heading>
        <div class="panel-body">
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-key"></i>权限
        </uib-tab-heading>
        <div class="panel-body">
        </div>
    </uib-tab>
</uib-tabset>